.wrapper-grey {
  background-color: #F1F1F1;
}

.flat-body {
  background-color: white;
  padding: 10px;
  .flat-owner-contact {
    margin: 35px 0;
    padding: 15px;
    width: 100%;
    background-color: #F1F1F1;
    border-radius: 4px;
    h4 {
      margin-top: 0px;
    }
    textarea {
      width:100%;
      resize: none;
      border-color: #F2F2F2;
      border-radius: 3px;
    }
    .btn {
      width: 100%;
    }
  }
}

.flat-page-pic {
  height: 400px;
  background-size: cover;
  display: flex;
  color: white;
  align-items: center;
  padding: 0 0 20px 20px;
  h1 {
    padding: 0;
    margin: 0;
    color: white;
  }
  position: relative;
}

.flat-price {
  position: absolute;
  bottom: -25px;
  right: 24px;
  padding: 10px 20px;
  background-color: $red;
  color: white;
  font-size: 24px;
  border-radius: 28px;
}

.flat-details {
  background-color: white;
  padding-left: 20px;
}

#map {
  border-right: 1px solid #FBFBFB;
}

#flat-data-desc {
  margin-bottom: 20px;
}

#flat-data-details h4 {
  margin-left: 15px;
}

.thumbnail {
  height: 80px;
}

.thumbnail.active {
  border: 1px solid $green;
}

.thumbnail:hover {
  border: 1px solid $green;
}
