@import "home";
@import "flats";

.oneflat {
  height: 1px;
  margin-bottom: 250px;
}

.no_result {
 height: 450px;
 background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url('steppe.jpeg');
 margin-bottom: 20px;
 color: white;
 position: relative;

 .h2-1 {
  position: absolute;
  top:10px;
  left:20px;
  color: #DDD;
 }
  .h2-2 {
  position: absolute;
  top:100px;
  left:20px;
  color: #DDD;
 }
}

#active-filters-list, #search-form, #results-list, #results-map {
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
  h4 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

#active-filters-list {
  display: block;
  .active-filter-list-content {
    margin-top: 10px;
  }
  li {
    margin: 5px 0;
    tag {
      background-color: white;
      font-size: 14px;
      padding: 1px 15px 2px 15px;
      border-radius: 15px;
      border: 1px solid #DDDDDD;
      font-weight: lighter;
      margin: 0 2px;
    }
  }
}

.gmap-content {
  margin-top: 10px;
}
