<h1>Flats</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @flats.each do |flat| %>
        <%= flat.title %>; <%= flat.price %>; <%= flat.area %> <br>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form action="/flats" method="get">
        <label for="area">Area: </label>
        <input type="text" name="area" id="area">
        <input type="submit">
      </form>
    </div>
  </div>
</div>
