<h1>Flats</h1>

<div class="container">
  <div class="col-xs-12 col-md-8">
    <% if @flats.size == 0 %>
      <div>
        <p>T'es mauvais Jack</p>
        <p>Mais retente ta chance via les filtres à droite<p>
      </div>
    <% else %>
      <% @flats.each do |flat| %>
        <%= flat.title %>; <%= flat.price %>; <%= flat.area %> <br>
      <% end %>
    <% end %>
  </div>
</div>
