<h2>@flat.title</h2>

<h3>@flat.description</h3>

<h4>@flat.area</h4>

<h4>@flat.address</h4>

<h4>@flat.zip</h4>

<h4>@flat.price</h4>

<h4>@flat.availability</h4>

<h4>@flat.rooms</h4>

<h4>@flat.type</h4>
