
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-registration">
        <div class="form-title">
          Forgot your password?
        </div>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, label: false, input_html: { :class => "input-form-session", placeholder:"Email" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", :class=>"navbar-wagon-item navbar-wagon-button btn" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
