<div class="jumbotron">
  <div class="banner">
    <div class="banner-content">
      <h1>Live in a dream</h1>
      <p>The perfect home. The perfect place. For cheap.</p>
      <div class="home-form">
        <form action="flats/index" class="form-inline" method='get'>
          <input type="text" placeholder="Zipcode" name="zip" class="form-control input-lg">
          <select required placeholder="Category" name="category" class="form-control input-lg">
            <option value="" disabled selected >Category   </option>
            <option>Flat</option>
            <option>House</option>
          </select>
          <input type="text" placeholder="Min. Price" name="min_price" class="form-control input-lg">
          <input type="text" placeholder="Max. Price" name="max_price" class="form-control input-lg">
          <input type="submit" class="btn btn-danger btn-lg" value="Find Now">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="flats">
      <h2>Recently added flats</h2>
      <div class="row">
        <% @flats.each do |flat| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="flat-card">
              <%= link_to '#' do %>
                <div class="card-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('http://www.lemoniteur.fr/media/IMAGE/2011/08/26/IMAGE_20110826_15147196.jpg')">
                </div>
                <div class="card-body">
                  <h3><%= flat.description %></h3>
                  <p><%= flat.price %> €</p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
