
.card {
  background-size: cover !important;
  height: 275px;
  margin:15px auto;
  position: relative;
}

.relative {
  position: relative;
}
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .card-title{
    position: absolute;
    color:white;
    font-size:20px;
    left:10px;
    bottom:10px;
  }


.flat-card {
  margin: 10px;
  background-color: white;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
  transition: ease 0.2s;
  a {
    text-decoration: none;
    color: black;
  }
}

.card-header {
  background-size: cover;
  height: 150px;
}

.card-body {
  padding: 5px 0px 5px 5px;
  text-align: left;
  h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
  }
  p {
    margin-bottom: 5px;
    font-weight: lighter;
  }
}

.card-wraper{

  box-shadow: 1px 1px 2px #DDD;
  transition: box-shadow 0.5s;
  margin-top: 30px;
  padding-bottom: 10px;
  &:hover{
    box-shadow: 2px 2px 3px #BBB;
  }
  margin-bottom: 30px;
}

.card-flex{
  display: flex;
  justify-content:center;
  align-items: flex-end;
}




