#sidebar {
  position: fixed;
}

.input-decoration {
  margin-bottom: 20px;
  margin-right: 25px;
}

.input-group-addon {
    min-width: 100px;// if you want width please write here //
    text-align:center;
}
