#sidebar {
  position: fixed;
}

.input-decoration {
  margin-bottom: 20px;
  margin-right: 25px;
}

.input-group-addon {
    min-width: 90px;// if you want width please write here //
    text-align:center;
}

.search {
  width: 300px;
}

#mobile_logo {
padding: 0;
}

#mobile_dropdown {
margin-left: 29px;
}
