.filter-form {
  margin-top: 10px;
  label {
    font-weight: normal;
    display: block;
    font-size: 14px;
  }
  input {
    width: 60%;
  }
}

.subfilters {
  label {
    font-weight: lighter;
    display: inline-block;
    font-size: 12px;
  }
  input {
    width: 30%;
  }
}

.inline-filter-form {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  margin-right: 40px;
  label {
    margin: auto 4px auto 0;
  }
}

