.form-registration{
  margin: 50px auto;
}

.input-form-session{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: 1px 1px 2px #DDD;
  border-radius: 5px;
  height:50px;
  font-size: 18px;
  margin: 20px 0px;
  transition: box-shadow 0.5s;
  &:focus {
    box-shadow: 2px 2px 3px #BBB;
  }
}

.form-title{
  text-align: center;
  font-size: 30px;
  font-color:#2222;
  margin-bottom: 30px;
}

.form-registration{
  background-color: #fff;

  padding: 50px 70px 50px 70px;
  box-shadow: 1px 1px 2px #DDD;
  transition: box-shadow 0.5s;

  &:hover{
    box-shadow: 2px 2px 3px #BBB;
  }
}
