// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "vendor/*";

// Your CSS
@import "layout/*";
@import "components/*";
@import "pages/*";

h1, h2, h3 {
  font-family: 'Montserrat', Open sans;
}

h1, h2, h3, h4, h5, p {
  color: #1F1F1F;
}

.bottom-padded {
  padding-bottom: 20px;
}






